body {
    font-family: 'Roboto', sans-serif;
    /* background-color: black; */
}

/* .w-85{
    width: 90%;
} */

.toggleandlogo {
    align-items: center;
}

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all ;
}

#sidebar.expand .sidebarnav{
    position: fixed;
}





#sidebar.expand {
    width: 240px;
    min-width: 240px;
    border-right: .5px solid rgba(255, 255, 255, 0.178);
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: white;
}

.sidebar-logo {
    margin: auto 0;
    width: fit-content;
}

.sidebar-logo a {
    color: white;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}



.musiclogo {
    height: 30px;
}

ul li {
    color: white;
    text-decoration: none;
}


.rightsection{
    display: flex;
    flex-direction: column;
}


.rightnav {
    padding-top: 15px;
    z-index: 5;
    position: fixed;
    width: 500px;
    height: 65px;
}


.searchbar{
    /* margin-top: 15px; */
    margin-left: 100px;
    /* margin-bottom: 15px; */
    width: 500px;
    background-color: rgb(128, 128, 128);
    opacity: 40%;
}

.input-icon {
    position: relative;
}

.input-icon > i {
    position: absolute;
    left: 110px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #aaa;
}

.input-icon > input {
    padding-left: 35px;
}

.input-icon > input::placeholder {
    padding-left: 20px;
    color: #fff;
}

.searchbardiv {
    margin-left: 80px;
}




/* New CSS */

.navbarbutton:hover{
    background-color: rgba(128, 128, 128, 0.333);

}
.home {
    align-items: center;
    font-size: 12px; /* Font size for collapsed state */
    text-align: center;
    /* padding: 10px 0; */
}
#sidebar.expand .homeicon {
    padding-left: 10px;
    padding-right: 20px;
}





#sidebar.expand .home {
    
    font-size: 16px; /* Font size for expanded state */
}

#sidebar.expand .sidebar-text {
    
    display: inline;
    margin-left: 10px; /* Space between icon and text */
}


.scrollcontents{
    background-color: black;
    margin-top: 65px;
    height: 150vh;
    width: 100%;
}



.sidebarnav {
    position: fixed; /* Make the sidebar items fixed */
    top: 0; /* Position at the top of the viewport */
    bottom: 0; /* Expand the sidebar items to the bottom of the viewport */
    width: 70px; /* Set the width of the sidebar when collapsed */
}

#sidebar.expand .sidebarnav {
    width: 240px; /* Set the width of the sidebar when expanded */
}

.newrelease{
    width: 80%;
   margin-left: 10%;
}

.newreleasebutton{
    background-color: rgba(128, 128, 128, 0.242);
    display: inline-block;
    width: 70px;
    margin-left: 1%;
    font-size: small;
    text-align: center;
}

.newreleasebutton:hover{
    background-color: rgba(128, 128, 128, 0.151);
}
.liked-image {
    border: none;
    border-radius: 10px;
    
    
}
.details{
    line-height: 4px;
    color: white;
    margin-top: 10%;
}
.sub{
    color: grey;
    font-size: .9em;
}
.dropdown-container {
    position: absolute;
    left: 80%;
    display: inline-block;
    width:20%;
   
}

.dropdown-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-item {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #575757;
}
